style.css
/* style.css */

@import url("components/avatar.css")

body{
  background: lightgrey;
  color: green;
  font-size: 25px;
  font-family: Helvetica;
}
h1{
  font-family: Courier;
  color: red;
  font-weight: lighter;
  font-size: 10px;
  text-align: center;
}
h2 {
  font-family: Courier;
  color: #D23333;
  font-weight: lighter;
  font-size: 15px;
  text-align: center;
}

p{
	text-align: center;
	color: black 
	font-size: 20;
}
a {
  color: pink;
  border-color: red
}
a:hover {
  text-decoration: none;
  color: purple;
}

#nav {
	width: 1300px;
	height: 400px
	background-color: white;
}

#nav_wrapper ul li {
	list-style: none;
	display: inline;
}

#nav_wrapper { 
height: 100px
width: 450px
background-color: navy; 
}


#nav_wrapper a{
	color: navy;
	text-decoration: none;
	padding: 80px;
	 font-family: Courier;
}


#nav_wrapper ul li hover{
	background:red;
}

#banner{
  text-align: center;
  background-image: url('images/london.jpg');
  background-size: cover;
  padding: 150px;
  color: white;
  text-shadow: 1px 1px 5px black;
}
#banner{
	height: 600px;

}
#banner h1 {
  color: white;
  font-size: 50px;
  text-align: center;
}
#banner p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}


.card{
  padding: 50px;
  font-weight: lighter;
}

.container{
	border: 1px solid green
	width: 100%;
}


.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700,800,900");

/* Importing layouts */
@import url("layouts/blogpost.css");
@import url("layouts/map.css");
@import url("layouts/saas.css");
@import url("layouts/dashboard.css");

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 300;
}
p {
  font-weight: lighter;
}
h1, h2, h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
  margin-bottom: 20px;
}
h3 {
  font-size: 23px;
}

